<div class="flex flex-wrap p-2 mx-6 mb-2 border-2 rounded-lg w-80 border-neutral-200">
  <div class="w-full p-1 md:p-2">
    <div id="<%= dom_id(product) %>">
      <div class="grid grid-cols-1 gap-4">
        <div class="text-3xl font-semibold line-clamp-1">
          <p><%= product.name %></p>
        </div>

        <div class="line-clamp-1">
          <p><%= product.description %></p>
        </div>

        <div>
          <p>Price: <%= number_to_currency(product.price, unit: "₴") %></p>
        </div>

        <div>
          <p> Available: <%= product.balance %></p>
        </div>
      </div>
      <div class='mt-4'>
        <%= link_to "Show this product", product, class:"btn-gray" %>
      </div>
      <% if product.balance.nonzero? %>
        <div class="relative mt-6 mb-3">
          <%= render "carts/buy_form", product: product %>
        </div>
      <% end %>
    </div>
  </div>
</div>
